<html>
<head>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
</head>
<body>

  <h3> Web Blackjack - by Tae Kim</h3>
  <h6> What is your name?</h6>

	<form action='start' method='post'>
		<input type='text'/ name='username'>
		<input type="submit" class="btn"/>
	</form>

<script src="/js/bootstrap.min.js"></script>
<body>
</html>